body{
    font-family: "montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}

#title nav .nav-item{
    margin-left: 45px;
    font-family: "montserrat-light";
    font-size: 1.2rem7
    9+63
    1;
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "ubuntu";
}

.header-title{
    line-height: 1.5;
    font-size: 3rem;
    margin-bottom: 20px;
}

#title nav{
    margin-bottom: 6%;
}

.header-img{
    width: 65%;
    transform: rotate(25deg);
}

#title button{
    margin-right: 10px;
}

/* FEATURES SECTION */

#features{
    padding: 7% 15%;
    text-align: center;
}

#features h3{
    margin: 25px 0 15px 0;
}

#features p{
    color: #8f8f8f;
    font-size: 18pxS;
}

#features i{
    color: #ef8172;
}

#features i:hover{
    color: #ff4c68;
}

/* TESTIMONIAL SECTION */

#testimonials h2{
    font-family: "montserrat-bold";
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
}
#testimonials{
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

#testimonials img{
    border-radius: 50%;
    max-width: 150px;
    margin: 2rem 1rem;

}

 
